.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 2rem;

    .card {
        position: relative;




        .housing-name {
            position : absolute;
            font-weight: 100;
            font-size: 0.8em;
            bottom : 15px;
            padding: 0 10px;
            margin: 0 5px;
            background-color: white;
            border-radius: 5px;
            color : black;
        }


        .housing-img {
            width: 340px;
            height: 340px;
            object-fit: cover;
            border-radius: 10px;


        }
    }
}