main {
    display: flex;
    flex-direction: column;


h1 {
    font-size : 200px;
    color : #FF6060;
    margin : 50px 0;
}

.error-text {
    color : #FF6060;
    font-size: 36px;
    margin-bottom: 100px;
}

.home-link {
    color : black;
}

}



@media (max-width:768px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    h1 {
        font-size: 96px;
    }

    .error-text {
        font-size: 18px;
        text-align: center;
        width : 260px;
    }

    .home-link {
        margin-bottom: 70px;
    }

    }

}
