#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 30px;

  .banner-img {
    width: 100%;
    aspect-ratio: 16/5;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(40%);
  }

  .banner-text {
    position: absolute;
    color: white;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    max-width: 90%;
    font-size: 48px;
  }
}


@media (max-width:768px) {
  .banner-container {
    margin-right: 10px;
    margin-left: 10px;
    justify-content: flex-start;

    .banner-img {
      border-radius: 10px;
    }

    .banner-text {
      font-size: 24px;
      margin-left: 20px;
      width: 225px;
      text-align: start;
    }
  }
}