.general-content {
    max-width: 1240px;
    display: flex;
    text-align: left;
    margin: 0 40px;
    justify-content: space-between;

    .housing-characteristic {
        margin-right: 40px;
        width: 60%;

        .housing-title {
            color: #FF6060;
            font-size: 36px;
            font-weight: 500;
            max-width: 600px;
        }

        .housing-localisation {
            font-size: 18px;
        }

        .tags {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            flex-wrap: wrap;

            .tag {
                background-color: #FF6060;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                color: white;
                font-weight: 700;
                font-size: 14px;
                min-width: 115px;
                min-height: 25px;
                padding-right : 15px;
                padding-left: 15px;
            }
        }
    }

    .host-rating-container {
        .host-info {
            display: flex;
            gap: 10px;
            margin-top: 30px;
            justify-content: space-between;

            .host-name {
                display: flex;
                flex-direction: column;
                color: #FF6060;
                font-size: 18px;
                text-align: right;
                justify-content: center;

                .first-name {
                    margin:0;
                }

                .last-name {
                    margin : 0;
                }


            }


            .host-picture {
                border-radius: 50%;
                width: 64px;
                height: 64px;
            }
        }

        .rating {
            display: flex;
            gap: 4px;
            margin-top: 50px;
            justify-content: flex-end;

            .star-empty {
                font-weight: 900;
                color: #E3E3E3;
            }

            .star-filled {
                color: #FF6060;
            }
        }
    }
}

.collapses {
    display: flex;
    margin-bottom: 20px;

    .collapse {
        width: 50%;
    }
}



@media (max-width:768px) {
    .general-content {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;



        .housing-characteristic {
            width: 100%;
            margin-right: 0;

            .housing-title {
                font-size: 18px;
                font-weight: 500;
            }

            .housing-localisation {
                font-size: 14px;
                font-weight: 500;
            }

            .tags {
                .tag {
                    font-size: 10px;
                    width: 84px;
                    height: 18px;

                }
            }
        }

        .host-rating-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;


            .rating {
                margin: 0;
                width: 98px;
                height: 18px;
            }

            .host-info {
                margin: 0;


                .host-name {
                    font-size: 12px;
                    margin: 0;
                }

                .host-picture {
                    width: 32px;
                    height: 32px;
                }
            }
        }


    }

    .collapses {
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;


        .collapse {
            width: 100%;
            margin: 10px 0;
            border-radius: 5px;

            .collapse-header {
                width: 100%;
                display: flex;

            }


        }
    }
}